* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #523620;
}

#container-main {
    background-color: #fecc6f;
    position: absolute;
    top:0;
    width: 100vw;
    height: 65vh;
}

img {
    float: right;
    position: fixed;
    right: 0;
    margin:205px 90px;
}

#content {
    float: left;
    width: 600px;
    height: 400px;
    margin: 85px 0 0 25vw;
    text-align: center;
    border: 10px solid #523620;
    border-radius: 10px;
    background-color: rgb(18, 49, 18);
    padding-top: 30px;
    
}

p   {
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: rgb(255, 255, 255);
} 